*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: title;
    src: url(../font/Tenada.ttf);
}
@font-face {
    font-family: info;
    src: url(../font/Paperlogy-6SemiBold.ttf);
}

header{
    background-color: #edeef0;
   
    padding-top: 40px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    position: relative;
}
.main{
 
}
header img{
    width: 60%;
    margin: 0;
    padding: 0;
}
img{
    width: 80%;
    margin: 0;
    padding: 0;
}
header ul{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width:90%;
    left: 50%;
    top: 60px;
  transform: translate(-50%,-50%);
}
header ul li{
    align-content:end;
    list-style: none;
  text-align: center;
}

header ul li:nth-child(2){
    text-align: center;
    padding-right: 2%;
    box-sizing: border-box;
}


.header-title{
  font-size: 60px;
  color: #ab3b2c;
  font-family: title;
  margin-top: 120px;

}
@font-face {
    font-family:headerFont;
    src: url(../font/Paperlogy-4Regular.ttf);
}
.header-font{
    font-family:headerFont;
  color: #ab3b2c;
  font-size: 15px;
  margin: 20px 0px;
  margin-bottom: 50px;

}

/* 태블릿 미디어 쿼리*/
@media (min-width: 768px) and (max-width: 1024px) {
    header{
        padding-top: 1px;
    }
    .header-title{
        font-size: 80px;
        margin-top: 180px;
      }
    
}
@media only screen and (max-width: 767px) {
    .header-font{
font-size: 9px;
width:90%;
margin: 0 auto;
    }
}